<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Port UDP Serwera</string>
			<key>Key</key>
			<string>serverUDPPort</string>
			<key>DefaultValue</key>
			<string>9001</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Numer telefonu użytkownika</string>
			<key>Key</key>
			<string>userPhoneNumber</string>
			<key>DefaultValue</key>
			<string>605553905</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Port TCP Serwera</string>
			<key>Key</key>
			<string>serverPort</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>DefaultValue</key>
			<string>9000</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>IP Serwera</string>
			<key>Key</key>
			<string>serverIP</string>
			<key>DefaultValue</key>
			<string>178.62.93.103</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Telefon Alarmowy</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>DefaultValue</key>
			<string>725231861</string>
			<key>Key</key>
			<string>emergencyPhoneNumber</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>100</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Key</key>
			<string>radius</string>
			<key>Title</key>
			<string>Safety Radius</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
